#root {
	min-width: 375px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.orange {
	color: #fd7014;
}

.black {
	color: #1f242d;
}

.gray {
	color: #323946;
}

.white {
	color: #eeeeee;
}

.myNav {
	border-radius: 12px;
	background: #ffffff1a;
	border: 1px solid #ffffff20;
	backdrop-filter: blur(16px) saturate(120%);
}

.myIcon {
	color: var(--orange);
	font-size: 1.5em;
	display: inline-flex;
	border: 1px solid var(--orange);
	padding: 12px;
	border-radius: 50%;
	transition: background-color 0.6s ease-in-out;
}

.myIcon:hover {
	background-color: var(--orange);
	color: var(--white);
}

.dlBtn {
	transition: box-shadow 0.5s ease-in-out;
}
.dlBtn:hover {
	box-shadow: var(--orange) 0px 7px 29px 0px;
	color: var(--white);
}

.navItem:hover {
	text-decoration: underline;
	text-decoration-color: var(--orange);
	text-decoration-style: solid;
	text-decoration-thickness: 0.2em;
	cursor: pointer;
}

#about {
	background-color: var(--gray);
}
