@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

/* .kode-mono-<uniquifier> {
  font-family: "Kode Mono", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

.orange {
	color: #fd7014;
}

.black {
	color: #222831;
}

.gray {
	color: #393e46;
}

.white {
	color: #eeeeee;
}
