@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--orange: #fd7014;
	--black: #1f242d;
	--gray: #323946;
	--white: #eeeeee;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans serif;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	background-color: var(--black);
	color: var(--white);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}
